This notebook demonstrates some of the utilities in [date_utils.py](date_utils.py). 

Let us start by importing date_utils.

In [4]:
import date_utils

## Conversion Utilities
There are some simple conversion routines to go from a string to a date and a date back to a string.

What is today's date, you ask?

In [5]:
date_utils.today2str()

'2018-12-29'

Oh, you wanted the datetime object? I see...

In [6]:
date_utils.str2date(date_utils.today2str())

datetime.date(2018, 12, 29)


## Data Frame Utilities
In addition to conversion routines, there are also utilities to handle a pandas.DataFrame. This will be the format we use for handling the weights. A pandas.DataFrame indexed by days of the year.

To create a weights file, use the `write_weights_file` function. This is how [2019_weights.csv](2019_weights.csv) was generated.

To read the weights file, use `read_weighs_file`.

In [7]:
data_frame = date_utils.read_weights_file('2019_weights.csv')

In [8]:
data_frame

            act_weight
2019-01-01         NaN
2019-01-02         NaN
2019-01-03         NaN
2019-01-04         NaN
2019-01-05         NaN
2019-01-06         NaN
2019-01-07         NaN
2019-01-08         NaN
2019-01-09         NaN
2019-01-10         NaN
2019-01-11         NaN
2019-01-12         NaN
2019-01-13         NaN
2019-01-14         NaN
2019-01-15         NaN
2019-01-16         NaN
2019-01-17         NaN
2019-01-18         NaN
2019-01-19         NaN
2019-01-20         NaN
2019-01-21         NaN
2019-01-22         NaN
2019-01-23         NaN
2019-01-24         NaN
2019-01-25         NaN
2019-01-26         NaN
2019-01-27         NaN
2019-01-28         NaN
2019-01-29         NaN
2019-01-30         NaN
...                ...
2019-12-02         NaN
2019-12-03         NaN
2019-12-04         NaN
2019-12-05         NaN
2019-12-06         NaN
2019-12-07         NaN
2019-12-08         NaN
2019-12-09         NaN
2019-12-10         NaN
2019-12-11         NaN
2019-12-12         NaN
2019-12-13         NaN
2019-12-14         NaN
2019-12-15         NaN
2019-12-16         NaN
2019-12-17         NaN
2019-12-18         NaN
2019-12-19         NaN
2019-12-20         NaN
2019-12-21         NaN
2019-12-22         NaN
2019-12-23         NaN
2019-12-24         NaN
2019-12-25         NaN
2019-12-26         NaN
2019-12-27         NaN
2019-12-28         NaN
2019-12-29         NaN
2019-12-30         NaN
2019-12-31         NaN

[365 rows x 1 columns]

To select a range of dates to focus on, use the `select_by_date` function.

In [10]:
jan_data_frame = date_utils.select_by_date(data_frame,'2019-01-01','2019-01-30')
jan_data_frame

            act_weight
2019-01-01         NaN
2019-01-02         NaN
2019-01-03         NaN
2019-01-04         NaN
2019-01-05         NaN
2019-01-06         NaN
2019-01-07         NaN
2019-01-08         NaN
2019-01-09         NaN
2019-01-10         NaN
2019-01-11         NaN
2019-01-12         NaN
2019-01-13         NaN
2019-01-14         NaN
2019-01-15         NaN
2019-01-16         NaN
2019-01-17         NaN
2019-01-18         NaN
2019-01-19         NaN
2019-01-20         NaN
2019-01-21         NaN
2019-01-22         NaN
2019-01-23         NaN
2019-01-24         NaN
2019-01-25         NaN
2019-01-26         NaN
2019-01-27         NaN
2019-01-28         NaN
2019-01-29         NaN
2019-01-30         NaN